{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": false,
	"trailingComma": "none",
	"printWidth": 80,
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [
		{ "files": "*.svelte", "options": { "parser": "svelte" } },
		{
			"files": ["*.yml", "*.yaml"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		},
		{
			"files": ["*.md"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
