@use "$lib/style/variable";

@font-face {
	font-family: Lexend;
	src: url(/asset/font/Lexend-VariableFont_wght.woff2)
			format("woff2 supports variations"),
		url(/asset/font/Lexend-VariableFont_wght.woff2)
			format("woff2-variations"),
		url(/asset/font/Lexend-VariableFont_wght.woff2) format("woff2"),
		local(Lexend);
	font-display: fallback;
	font-weight: 100 1000;
	font-stretch: normal;
	font-style: normal;
}

// CSS reset

html {
	box-sizing: border-box;
	font-size: 16px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img,
picture,
video,
canvas {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

address {
	font-style: normal;
}

// Global styling

body {
	background-color: variable.$color-background;
	font-family: Lexend, sans-serif;
	font-size: 16px;
	font-weight: 400;
}
