@use "$lib/style/variable";
@import "@fontsource-variable/lexend";

// CSS reset

html {
	box-sizing: border-box;
	font-size: 16px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure {
	margin: 0;
	padding: 0;
	font-weight: variable.$font-weight-semibold;
}

ol,
ul {
	list-style: none;
}

img,
picture,
video,
canvas {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

address {
	font-style: normal;
}

// Global styling

body {
	background-color: variable.$color-light;
	font-family:
		Lexend Variable,
		sans-serif;
	font-size: 16px;
	font-weight: variable.$font-weight-regular;
}
